alembic==1.7.6
bleach==4.1.0
chardet==4.0.0
click==8.0.4
Flask==2.0.3
itsdangerous==2.0.0
Markdown==3.3.6
numpy==1.22.2
openpyxl==3.0.9
pandas==1.4.1
pdfkit==1.0.0
Pillow==9.0.1
PyPDF2==1.26.0
python-dotenv==0.19.2
qrcode==7.3.1
reportlab==3.6.7
requests==2.27.1
SQLAlchemy==1.4.31
svglib==1.2.1
Werkzeug==2.0.3
WTForms==3.0.1
XlsxWriter==3.0.2


pymongo~=4.2.0
mongoengine~=0.24.2
opencv-python~=4.6.0.66